.dimensioneBottoni {
    height: 50px;
    width: 100px;
}

.stileLink {
    text-decoration: none;
    color: black;
    text-align: center;
}

.dimensioneIcon {
    font-size: 50px;
}

.stileLinkRegistrazione {
    text-decoration: none;
    color: red;
}

body {
    overflow-x: hidden;
}